.chatfloat-container {
    position: fixed;
    bottom: 20px;
    z-index: 1000;
    display: flex;
    align-items: center;
}

/* New helper classes */
.chatfloat-container.position-right {
    right: 20px;
}

.chatfloat-container.position-left {
    left: 20px;
}

.chatfloat-button {
    text-decoration: none;
}

.chatfloat-button img {
    width: 50px;
    float: left;
    margin-right: 5px;
}

.chatfloat-text span {
    padding: 2px 25px;
    border-radius: 5px;
    font-size: 15px;
    font-family: inherit;
    font-weight: 700;
}

.whatsapp-icon {
    width: 50px;
    height: 50px;
    background-image: url('../images/Whatsapp-Icon.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}

/* Add responsive visibility control */
.hide-on-desktop {
    display: none;
}
@media (max-width: 768px) {
    .hide-on-mobile {
        display: none;
    }
    .hide-on-desktop {
        display: block;
    }
}
@media (min-width: 769px) {
    .hide-on-mobile {
        display: block;
    }
}